.header {
  background-color: #fff;
  box-shadow: 5px 8px 8px -10px rgba(0, 0, 0, 0.5);
}
.title {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}
.icon {
  font-size: 50px;
}
.nav-item .nav-link {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.input-group-text {
  background-color: transparent;
}
.date {
  float: right;
  font-weight: 400;
  color: #fff;
}
.message {
  color: #1873e8;
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 0 !important;
}
h4 {
  margin-bottom: 0px !important;
}
@media only screen and (max-width: 540px) {
  .date {
    display: none;
  }
}
